body {
    font-family: 'Inter', sans-serif;
    color: #060644;
}
.navbar{
    background: #f5f5f5;
}
.navbar-brand {
    color: #060644 !important;
    font-weight: 700;
    font-size: 1.5rem;
}

.nav-item a {
    font-weight: 600;
}

tr>td {
    font-size: 1rem;
}

h3,h5 {
    color: #060644;
}
h1{
    line-height: 1.4;
}
footer{
    background: #fff;
}
a{
    text-decoration: none;
    color: #060644;
    font-weight: 500;
}
a:hover{
    color: #f54900;
}
.code-block{
    background: #060644;
    border-radius: .5rem;
    width: fit-content;
}
@media screen  and (min-width:768px){
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;        
    }
}

