body {
    font-family: 'Inter', sans-serif;
    color: #0d0543;
}

.navbar-brand {
    color: #000;
    font-weight: 700;
}

.nav-item a {
    font-weight: 600;
}

tr>td {
    font-size: 1rem;
}

h3 {
    color: #0d0543;
}
h1{
    line-height: 1.4;
}